@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Oswald:wght@200;300;400&display=swap');

:root {
    --color-primary: #26294D;
    --color-secondary: #282E63;
    --color-light: #4663D8;
}

.wrap {
    width: 100%;
    max-width: 1440px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}


h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
}

p,
li,
a,
button,
input,
textarea {
    font-family: "Archivo", sans-serif;
    line-height: 1.9;
}